@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Poppins:wght@100;300;400;500;600&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s linear;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

:root {
    --main-color: #01aad6;
    --light-white: rgba(255, 255, 255, .5);
    --light-black: rgba(0, 0, 0, .3);
    --light-bg: rgba(255, 255, 255, .1);
    --white: #fff;
    --black: #000;
    --border: .1rem solid rgba(0,0,0,.1);
    --border-hover: .1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;


    &::selection {
    background-color: var(--main-color);
    color: var(--black);
    }

    &::-webkit-scrollbar {
    height: .5rem;
    width: 1rem;
    }

    &::-webkit-scrollbar-track {
    background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
    background-color: var(--white);
    }
}

body{
    background: var(--black);
    overflow-x: hidden;
}
.container {
    padding-top: 10rem;
}

section {
    
    padding: 5rem 10%;
}


.heading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 7rem;
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 4rem;
    padding: 2.5rem;

    
    span{
        color: var(--main-color);
        font-size: 4.2rem;

    }

    h1{
        font-size: 7rem;
        color: var(--white);
        margin-top: .7rem;
    }

}

.btn {
    display: block;
    border-radius: .5rem;
    padding: 1.2rem 3rem;
    background: var(--main-color);
    color: var(--black);
    cursor: pointer;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    margin-top: 1rem;
}

.btn:hover {
    background: var(--black);
    color: var(--white);
    letter-spacing: .26rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, transparent, var(--black));
    z-index: 1000;
}

.header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.header .flex .logo img{
    width: 26rem;
    height: 65%;
    position: absolute;
    left: -8px;
    top: -12px;
}



.header .flex .navbar a {
    margin-left: 2rem;
    font-size: 1.8rem;
    color: var(--light-white);
    transition: .2s linear;
}

.header .flex .navbar a:hover {
    color: var(--white);
}

.header .flex .icons div{
    font-size: 2.5rem;
    margin-left: 0.7rem;
    padding-right: 1.5rem;
    color:var(--main-color);
    cursor: pointer;
    position: absolute;
    right: 35px;
}

.header .flex .icons div:hover{
    color: rgba(255, 255, 255, 0.086);
}

// .login-form-container{
//     display:flex;
//     align-items:center;
//     justify-content:center;
//     background:rgba(48, 48, 48, 0.822);
//     position: fixed;
//     top: 0; right:-105%;
//     z-index: 10000;
//     height: 100%;
//     width: 100%;
// }

// .login-form-container.active{
//     right:0;
// }


// .login-form-container form{
//     background:#fff;
//     border:var(--border);
//     width:40rem;
//     padding:2rem;
//     box-shadow: var(--box-shadow);
//     border-radius: .5rem;
//     margin:2rem;
// }

// .login-form-container form h3{
//     font-size: 2.5rem;
//     text-transform: uppercase;
//     color: var(--black);
//     text-align: center;
// }

// .login-form-container form span{
//     display: block;
//     font-size: 1.5rem;
//     padding-top: 1rem;
// }

// .login-form-container form .box{
//     width:100%;
//     margin:.7rem 0;
//     font-size: 1.6rem;
//     border: var(--border);
//     border-radius: .5rem;
//     padding:1rem 1.2rem;
//     color:var(--black);
//     text-transform: none ;
// }

// .login-form-container form .checkbox{
//     display:flex;
//     align-items:center;
//     gap: 0.5rem;
//     padding: 1rem 0;

// }
// .login-form-container form .checkbox label{
//     font-size: 1.5rem;
//     color:var(--light-color);
//     cursor: pointer;
// } 
// .login-form-container form .btn{
//     text-align: center;
//     width: 100%;
//     margin: 1.5rem 0;
// }
// .login-form-container form p{
//     padding-top: .8rem;
//     color: var(--light-color);
//     font-size: 1.5rem;

// }
// .login-form-container form p a{
//     color: rgba(0, 0, 0, 0.848);
//     text-decoration: underline;
// }

// .login-form-container form p a:hover{
//     color: var(--main-color);
// }

// .login-form-container #close-login-btn{
//     position: absolute;
//     top:1.5rem; right:2.5rem;
//     font-size: 5rem;
//     color:var(--black);
//     cursor:pointer;
// }

#menu-btn {
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--white);
    display: none;
}

.forget {
    background: url('../../../images/register.jpg') no-repeat rgba(0, 0, 0, .5);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: multiply;
}

.forget .flex {
    min-height: calc(87vh - 10rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.forget .flex form {
    background-color: var(--light-bg);
    border-radius: .5rem;
    padding: 1rem;
    width: 50rem;
    backdrop-filter: blur(.4rem);
}

.forget .flex form h3 {
    font-size: 2.5rem;
    color: var(--white);
    padding-bottom: 1rem;
    text-align: center;
}

.forget .flex form p {
    padding-top: 1rem;
    font-size: 1.7rem;
    color:rgba(0, 0, 0, 0.728);
}
.forget .flex form p a{
    padding-top: 1rem;
    font-size: 1.7rem;
    color: var(--white);
}

.forget .flex form p a:hover{
    color: var(--main-color);
}

.forget .flex form .box {
    width: 100%;
    border-radius: 5rem;
    padding: 1.4rem;
    font-size: 1.8rem;
    color: var(--white);
    text-transform: none;
    background: var(--light-black);
    margin: 1rem 0;
}

.forget .flex form .box::placeholder {
    color: var(--light-white);
}

.footer {
    background: url('../../../images/footer5.jpeg') no-repeat rgba(0, 0, 0, .5);
    max-width: 2000px;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: multiply;

}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    color:var(--white);
    padding:1rem 0 ;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.4rem;
    color:var(--white);
    padding:1rem 0 ;
}

.footer .box-container .box a i{
    color: var(--main-color);
    padding-right: .5rem;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .box-container .box .map{
    width: 100%;
    padding-top: 4rem;
}

.footer .share{
    padding: 1rem 0;
    text-align: center;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    background: var(--main-color);
    margin:0 .3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background: var(--black);
}

.footer .credit{
    border-top: var(--border);
    margin-top: 2rem;
    padding:0 1rem;
    padding-top: 2.5em;
    font-size: 2rem;
    color:var(--white);
    text-align: center;
}

.footer .credit span{
    color: var(--main-color);
}

.gallery{
    background: url('../images/Kempinski/black.jpg') no-repeat rgba(0, 0, 0, .25);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: multiply;
}

.gallery .box-container {
        columns: 3 25rem;
        column-gap: 1.5rem;

        .box {
            margin-bottom: 1rem;
            break-inside: avoid;

            img {
                width: 100%;
                border-radius: 2rem;
                margin-bottom: 1rem;
            }

            span {
                font-size: 1.4;
                color: var(--light-white);
            }

            h3 {
                    margin-top: .5rem;
                    font-size: 2rem;
                    color: var(--white);
            }
            
        }
    }


    .booking {
        background: url('../images/Kempinski/black.jpg') no-repeat rgba(0, 0, 0, .22);
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        background-blend-mode: multiply;
    }

    // .booking .book-form {
    //     min-height: calc(100vh - 10rem);
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    // }
    
    .booking .book-form {
        background-color: var(--light-bg);
        border-radius: 6rem;
        padding: 4rem;
        backdrop-filter: blur(.4rem);
    }
    
    .booking .book-form .flex{
        border-radius: 10rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .booking .book-form .flex .inputBox{
        flex: 1 1 41rem;
    }
     
    .booking .book-form .flex .inputBox input{
        width: 100%;
        padding: 1.2rem 1.4rem;
        font-size: 2.5rem;
        color: var(--white);
        text-transform: none;
        margin-top: 1.5rem;
        border: var(--border);
        background: var(--light-black);
    }

    .booking .book-form .flex .inputBox input:focus{
        background: var(--light-bg);
        color: var(--white);
    }

    .booking .book-form .flex .inputBox input:focus::placeholder{
        color: var(--white);
    }

    .booking .book-form .flex .inputBox span{
        font-size: 3rem;
        color: var(--white);
    }

    .booking .book-form .btn{
        margin-top: 3rem;
    }

    .home .flex form h3 {
        font-size: 2.5rem;
        color: var(--white);
        padding-bottom: 1rem;
        text-align: center;
    }
    
    .home .flex form p {
        padding-top: 1rem;
        font-size: 1.7rem;
        color: var(--light-white);
    }
    
    .home .flex form .box {
        width: 100%;
        border-radius: 5rem;
        padding: 1.4rem;
        font-size: 1.8rem;
        color: var(--white);
        text-transform: none;
        background: var(--light-black);
        margin: 1rem 0;
    }
    
    .home .flex form .box::placeholder {
        color: var(--light-white);
    }

    .contact{
        background: url(../../../images/black.jpg) no-repeat rgba(0, 0, 0, .25);
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        background-blend-mode: multiply;
    }

.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 10rem;

 
}


.contact .row .map{
    width: 100%;
    flex: 1 1 40rem;
    padding: 2rem;
    background-color: var(--light-bg);
    border-radius: .5rem;
    backdrop-filter: blur(.4rem);
}

.contact .row form{
   
    flex: 1 1 40rem;
    padding: 2rem;
    background-color: var(--light-bg);
    border-radius: .5rem;
    backdrop-filter: blur(.4rem);
}

.contact .row form h3{
    text-align: center;
    font-size: 3.5rem;
    color: var(--white);
    padding-bottom: 1rem;
}

.contact .row form h3:hover{
    color: var(--main-color);
}
.contact .row form h1{
    font-size: 2.5rem;
    color: var(--main-color);
}

.contact .row form h1:hover{
    color: var(--white);
}

.contact .row form p{
    font-size: 1.7rem;
    color: var(--white);
}

/*contact section ends*/








































/* media queries */

@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    .heading {
        font-size: 5rem;
        margin-bottom: 3rem;
        padding-top: 7rem;
    }

    section {
        padding: 3rem 2rem;
    }
}

@media (max-width:768px) {

    #menu-btn {
        display: inline-block;
    }

    .header .flex {
        position: relative;
    }

    .header .flex .navbar {
        position: absolute;
        top: 100%;
        left: 2rem;
        right: 2rem;
        background-color: var(--light-black);
        backdrop-filter: blur(.4rem);
        border-radius: .5rem;
        transform: scale(0);
        transform-origin: top right;
        padding: 1.5rem .5rem;
    }

    .header .flex .navbar.active {
        transform: scale(1);
    }

    .header .flex .navbar a {
        display: block;
        padding: 1rem;
        margin: .5rem 1.5rem;
        color: var(--white);
        border-radius: .5rem;
    }

 

    .header .flex .new .fa-bars{
        position: absolute;
        font-size: 3rem;
        top: 50%;
        right: 2rem;
    }
    
    .header .flex .logo img{
        width: 20rem;
    }


    .header .flex .navbar a:hover {
        background-color: var(--light-bg);
    }

    .heading {
        font-size: 3rem;
    }

}

@media (max-width:450px) {
    html {
        font-size: 35%;
    }

    .heading {
        font-size: 3.5rem;
    }
}
